.isHover:hover{
    color: blue;
    font-size:14px;
    font-weight:bold;
    border-bottom:2px solid blue;
}
.selectFirst{
    color: blue;
    font-size:14px;
    font-weight:bold;
    border-bottom:2px solid blue;
}
.selectSecond{
    color: blue;
    font-size:14px;
    font-weight:bold;
    border-bottom:2px solid blue;
}