*{
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}

.first{
    color:blue;
    border-bottom:2px solid blue;
    font-size: 14px;
    font-weight: bold;
}
.second{
    color:blue;
    border-bottom:2px solid blue;
    font-size: 14px;
    font-weight: bold;
}
.third{
    color:blue;
    border-bottom:2px solid blue;
    font-size: 14px;
    font-weight: bold;
}
.fourth{
    color:blue;
    border-bottom:2px solid blue;
    font-size: 14px;
    font-weight: bold;
}
.fiveth{
    color:blue;
    border-bottom:2px solid blue;
    font-size: 14px;
    font-weight: bold;
}
.selector:hover{
    color:blue;
    border-bottom:2px solid blue;
    font-size: 14px;
    font-weight: bold;
}
