*{
    box-sizing:border-box !important;
}
.first_table_coloum{
    line-height:40px;
    border:1px solid #E4E7ED;
}
.table_head{
    padding-left:12px;
    font-size: 14px;
}
.first_table_input{
    line-height:30px;
    width:100%;
    outline:none;
    border-width: 0;
}
