*{
    box-sizing:border-box !important;
}
.first_table_coloum{
    line-height:40px;
    border:1px solid #E4E7ED;
    box-sizing:border-box !important;
}
.table_head{
    padding-left:15px;
    font-size: 14px;
}
.first_table_input{
    line-height:30px;
    width:100%;
    text-align: center;
}
