*{
    box-sizing:border-box !important;
}
.first_table_coloum{
    line-height:40px;
    border:1px solid #E4E7ED;
    text-align:center;
}
.first_table_input{
    line-height:30px;
    width:100%;
    text-align: center;
    outline:none;
    border-width: 0;
}
