/* 公用列表样式 */
    * {
    	box-sizing: border-box !important;
    }

    .boxAll {
    	width: 100%;
    	height: 100%;
    	background: rgb(242, 242, 242);
    	overflow: hidden;
    }

    .boxAll .boxTabs {
    	width: 100%;
    	height: 40px;
    	line-height: 40px;
    	background: #ffffff;
    	margin-top: 5px;
    }

    .boxAll .boxTabs b {
    	font-size: 16px;
    	padding-left: 10px;
    	font-weight: normal;
    }

    .boxAll .boxTabs span a {
    	margin: 0 5px;
    	color: #999999;
    }

    .boxAll .boxTabs span a:hover {
    	color: #409eff;
    }

    .boxAll .boxCenter .search {
    	height: 150px;
    	margin: 15px;
    	background: #ffffff;
    	padding: 15px;
    }

    .boxAll .boxCenter h3 {
    	font-size: 18px;
    	font-weight: normal;
    }

    .boxAll .boxCenter .search .btnCenter {
    	text-align: center;
    }

    .boxAll .boxCenter .tableBox {
    	height: calc(100vh - 315px);
    	margin: 15px;
    	background: #ffffff;
    	padding: 15px;
    }

    .boxAll .boxCenter .tableBox h3 {
    	margin-bottom: 10px;
    }

    .tableBox .el-pagination {
    	height: 30px;
    	position: fixed;
    	bottom: 50px;
    	height: 35px;
    	text-align: left;
    	background: #ffffff;
    	z-index: 9;
    }

    /*滚动条样式*/

    .el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar {
    	width: 7px;
    	height: 7px;
    	background-color: transparent;
    }

    /*定义滚动条轨道 内阴影+圆角*/
    .el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar-track {
    	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    	border-radius: 10px;
    	background-color: transparent;
    }

    /*定义滑块 内阴影+圆角*/
    .el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-thumb {
    	border-radius: 10px;
    	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    	background-color: #d5d5d5;
    }

    .el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar {
    	width: 7px;
    	height: 7px;
    	background-color: transparent;
    }

    /*定义滚动条轨道 内阴影+圆角*/
    .el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-track {
    	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    	border-radius: 10px;
    	background-color: transparent;
    }

    /*定义滑块 内阴影+圆角*/
    .el-table--scrollable-x .el-table__body-wrapper::-webkit-scrollbar-thumb {
    	border-radius: 10px;
    	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    	background-color: #d5d5d5;
    }
